header.header
  .container
    .header__block.header__block--left
      .logo
        img(src='images/avatar.jpg' width='60')
      p Марат Шаймарданов
    .header__block.header__block--right
      .contacts
        .contacts__title
          span Мои контакты
          i.fa.fa-phone
        .contacts__hidden-block
          ul.contacts__list
            li.contacts__item.contacts__item--email
              i.fa.fa-envelope
              a(href='mailto:tatarchap@gmail.com') tatarchap@gmail.com
            li.contacts__item.contacts__item--phone
              i.fa.fa-phone
              a(href='tel:+79274285812') +79274285812
            li.contacts__item.contacts__item--skype
              i.fa.fa-skype
              a(href='skype:klonip?call') klonip
