.about {
  & .logo {
    width: 140px;
    height: 140px;
    margin-right: auto;
    margin-left: auto;
    float: none;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    img{
      display: none;
    }
  }
  &__text{
    p{
      margin-top: 0;
      margin-bottom: 15px;
      font-size: 18px;
      font-weight: 300;
      color: #646464;
    }
  }
  @media (--tablet-widths) {
    & .logo {
      float: left;
      width: 165px;
      height: 165px;
      margin-right: 30px;
      @supports (shape-outside: circle(50%)) {
          shape-outside: circle();
      }
    }
  }
}