.footer {
  background-color: #414141;
  padding-top: 1px;
  padding-bottom: 1px;
}

.social {
  margin-left: auto;
  margin-right: auto;
  width: 150px;

  &__list {
    @include noList;
  }
  &__item {

    @mixin inline-block;
    @mixin marginRight 10px;
  }
  &__link {
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: #9c9c9c;
    span {
      display: none;
    }
    i{
      position: absolute;
      left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
      color: var(--textColor);
    }
    &:hover {
      background-color: #5d99c3;
    }

  }
}