.menu {
  &__list {
    @mixin no-list;
    display: flex;
    flex-wrap: wrap;
  }
  &__item {
    @mixin marginRight 5px;
    &:hover{
       i{
        color: var(--accentColor);
      }
    }
    &--active {
      .menu__link {
        font-weight: 700;
        color: var(--accentColor);
      }
    }
  }
  &__link {

    @mixin inline-block ;
    padding: 10px 0;
    padding-right: 20px;
    color: #414141;
    text-decoration: none;
    border-right: 5px solid transparent;
    &:hover{
      color: var(--accentColor);
    }
  }
  @media (--mobile-widths-only) {
    &__item {
      i {
        display: none;
      }
    }
  } @media (--tablet-widths) {
  &__item {
    i {
      margin-right: 15px;
    }
  }

} @media (--desktop-widths) {
  &__item {
    margin-right: 0;

    &--active {
      .menu__link {
        border-right: 5px solid var(--accentColor);
      }

    }
  }
  &__link {
    width: 189px;
  }
}
}