doctype html
html
  head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=utf-8')
    meta(http-equiv='X-UA-Compatible', content="IE=edge,chrome=1")
    title
      block title

    meta(name='viewport' content='width=device-width')
    script(src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js")
    script.
      WebFont.load({
        google: {
          families: ["Fira Sans:300,400,500,700"]
        }
      });
    noscript.
      <span class="noscript">У Вас отключён JavaScript...Пожалуйста включите в его в настройках</span>

    link(rel='apple-touch-icon', sizes='180x180', href='images/favicon/apple-touch-icon.png')
    link(rel='icon', type='image/png', href='images/favicon/favicon-32x32.png', sizes='32x32')
    link(rel='icon', type='image/png', href='images/favicon/favicon-16x16.png', sizes='16x16')
    link(rel='manifest', href='images/favicon/manifest.json')
    link(rel='mask-icon', href='images/favicon/safari-pinned-tab.svg')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet' type='text/css' href='styles/style.css' media='screen, projection, print')

  body
    <!--[if lt IE 8]>
    <p class="chromeframe">Похоже, что ты используешь устаревший браузер, друг. Пожалуйста, <a href="http://browsehappy.com/">скачай новый браузер абсолютно бесплатно</a> или <a href="http://www.google.com/chromeframe/?redirect=true">активируй Google Chrome Frame</a></p>
    <![endif]-->

    .wrapper
      .content
        include ../common/header
        .container.clearfix
          aside.sidebar
            include ../common/menu
          .inner-content
            block content

      include ../common/footer
    script(src='libraries/utils.js')
    script(src='libraries/handlebars-v4.0.5.js')
    script(id="entry-template" type="text/x-handlebars-template").
      {{#each projects}}
      <h2>{{name}}</h2>
      {{/each}}
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.js')
    script(src='scripts/index.js')