.about
  .logo(style="background-image: url('images/avatar.jpg')")
    img(src='images/avatar.jpg')
  h2.title Обо мне
  .about__text
    p Привет. Меня зовут Шаймарданов Марат. Я занимаюсь Html-версткой. Уверенно владею HTML5, CSS3, JS, Jquery.
    p В работе использую Scss (также владею Less, Post Css), Gulp, Webpack, Git, Bower, БЭМ. Имел опыт работы с Bootstrap.
    p Владею навыками адаптивной верстки. Грамотно организую код для удобства работы в будущем. Есть острое желание развиваться дальше, не стоять на месте, буду рад подобным предложениям.

