.certificate
  h2.title Мое обучение
  ul.certificate__list
    li.certificate__item
      .certificate__block
        h3 Интерактивные курсы HTMLAcademy
        span.certificate__date 2014
        a.certificate__link.certificate__link--academy(href="https://htmlacademy.ru/profile/id31950/achievements")
          img(src="https://assets.htmlacademy.ru/img/achievements/courses/basic-html/73.svg" alt="certificate-HTML" width="80")
    li.certificate__item
      .certificate__block
        h3 HTMLAcademy - Продвинутый интенсив по HTML и CSS
        span 17 сентября - 27 октября 2015
        span.certificate__date 2015
        a.certificate__link(href="images/certificate-HTML.jpg")
          img(src="images/certificate-HTML.jpg" alt="certificate-HTML" width="50")
    li.certificate__item
      .certificate__block
        h3 HTMLAcademy - Базовый интенсив по JS
        span 19 января - 2 марта 2016
        span.certificate__date 2016
        a.certificate__link(href="images/certificate-JS.jpg")
          img(src="images/certificate-JS.jpg" alt="certificate-HTML" width="50")

