.portfolio
  h2.title Моё портфолио
  .portfolio__items
    - var items = {'barbershop':{'description':'Интернет-магазин'}, 'fitnesstime':{'description':'Интернет-магазин'},'library':{'description':'Сайт издательства'}, 'lambda':{'description':'Интернет-магазин'}, 'nerds':{'description':'Веб-студия'}, 'pink':{'description':'Интернет-магазин'}, 'technomart':{'description':'Интернет-магазин'}, 'sedona':{'description':'Туристический город'}}
    each item, title in items
      .portfolio__item
        img(src= "images/" + title + '.jpg' alt="portfolio__item" width="220")
        .portfolio__hover
          h3= title
          p= item.description
          a(href="https://github.com/yeffasol/" + title target="_blank") Проект на Github
          a(href="http://yeffasol.github.io/" + title + '/' target="_blank") Посмотреть онлайн

  a.portfolio__link(href="https://github.com/yeffasol?tab=repositories" target="_blank") Больше проектов...